<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="htmx-config" 
          content='{
            "selfRequestsOnly":false,
            "responseHandling":[
                {"code":"204", "swap": false},
                {"code":"[23]..", "swap": true},
                {"code":"422", "swap": true},
                {"code":"[45]..", "swap": false, "error":true},
                {"code":"...", "swap": true}
            ]
          }' />
    <title>Dad Joke Machine</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
            integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div>
        <button hx-get="http://localhost:5242/joke/random"
                hx-trigger="click"
                hx-target="#random-joke">
            Random Joke
        </button>
        <div id="random-joke" style="display: inline-block" />
    </div>
    <div style="margin-top: 20px">
        <label for="term">Search Term:</label>
        <input type="text" name="term" id="search-term" />
        <button hx-get="http://localhost:5242/joke/search?limit=30"
                hx-include="#search-term"
                hx-target="#search-results-joke">
            Search
        </button>
        <div id="search-results-joke" />
    </div>
</body>
</html>